<section id="intro" ng-app="myApp" >
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/slide-1.jpg" alt="First slide" style="width:100%;">
        <div class="carousel-caption" ng-controller="myCtrl">     
            <button type="button" class="btn btn-success" ng-click="incrementLikes(technology)"><span class="glyphicon glyphicon-heart"></span> Likes</button>
            <p><span>{{technology.likes}}</span> Likes</p>
            <!-- <h3><span class="glyphicon glyphicon-heart">1203</span></h3> -->
            <a href="../../assets/slide-1.jpg" download="slide-1" id="one"><p><span class="glyphicon glyphicon-download-alt"></span> 54738</p></a>
          </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/slide-3.jpg" alt="Second slide" style="width:100%;">
        <div class="carousel-caption">
            <h3><span class="glyphicon glyphicon-heart">903</span></h3>
            <a href="../../assets/slide-1.jpg" download="slide-1" id="one"><p><span class="glyphicon glyphicon-save"></span> 45040</p></a>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../assets/slide-2.png" alt="Third slide" style="width:100%;">
        <div class="carousel-caption">
            <h3><span class="glyphicon glyphicon-heart">806</span></h3>
            <a href="../../assets/slide-1.jpg" download="slide-1" id="one"> <p><span class="glyphicon glyphicon-save"></span> 23003</p></a>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
  </section>

<script type="text/javascript"> 
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
  $scope.technologies = [{
    name: "C",
    likes: 0,
    dislikes: 0
  }, {
    name: "C#",
    likes: 0,
    dislikes: 0
  }, {
    name: "Java",
    likes: 0,
    dislikes: 0
  }, {
    name: "WAD",
    likes: 0,
    dislikes: 0
  }];
  $scope.liketech = function(index,tech) {
    like= parseInt(tech.likes);
    $scope.technologies[index].likes = ++like;
  }
  $scope.Disliketech = function(index,tech) {
    dislike= parseInt(tech.dislikes);
    $scope.technologies[index].dislikes = ++dislike;
  }
});
</script>