<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Wallpaper</strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="#contact" data-toggle="modal" data-target="#myModal">YKS-AV</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->