<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">Anime</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>World class anime </p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a1.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/anime/a1.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a2.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/anime/a2.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a3.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/anime/a3.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a4.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/anime/a4.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a5.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/anime/a5.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/anime/a6.jpg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/IMG/anime/a6.jpg" alt="">
                </a>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Natsu Dragneel (Fairy Tail)</h4>
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/IMG/anime/a1.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
