<main id="main">
    <section id="gallery">
        <div class="container-fluid">
          <div class="section-header">
            <h3 class="section-title">CARS</h3>
            <span class="section-divider"></span>
            <p class="section-description"><br>"THE CARS WE DRIVE SAY A LOT ABOUT US"</p>
          </div>
  
          <div class="row no-gutters">
           
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c1.jpg" data-toggle="modal" data-target="#mynewModal" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/cars/c1.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c2.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/cars/c2.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c3.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/cars/c3.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c4.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/cars/c4.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6">
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c5.jpg" class="gallery-popup">
                  <img id="myImg" src="../../assets/IMG/cars/c5.jpg" alt="">
                </a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6" >
              <div class="gallery-item wow fadeInUp">
                <a href="../../assets/IMG/cars/c6.jpg" class="gallery-popup" >
                  
                  <img id="myImg" src="../../assets/IMG/cars/c6.jpg" alt="">
                </a>
              </div>
            </div>
  
          
          </div>
        </div> 

        <div id="mynewModal" class="modal fade" role="dialog">
          <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">CARS(Drove by many)</h4>
              </div>
              <div class="modal-body">
                <img id="myImg" src="../../assets/IMG/cars/c1.jpg" alt="" width="90%">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
        
          </div>
        </div>
        <script src="../../../main.js"></script>
