 <!--==========================
  Header Section
  ============================-->
  <header id="header">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <h1><a href="#intro" class="scrollto">Wallpaper</a></h1>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Header 1</a></h1>-->
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="#contact" data-toggle="modal" data-target="#myModal">Contact Us</a></li>
              <li><a [routerLink]="['/form']">Register</a></li>
              <!-- <li><a href="#login" data-toggle="modal" data-target="#myModallogin">Login2</a></li> -->
              <li><a [routerLink]="['/login']">Login</a></li>
              <li><a href="#team">Team</a></li>
              <li><a [routerLink]="['/gallery']">Top Rated</a></li>
              <li class="menu-has-children"><a href="">Categories</a>
                <ul>
                  <li><a href="#gw" >Gamin Wallpaper</a></li>
                  <li><a href="#cars">Cars</a>
                  <li><a href="#anime">Anime</a></li>
                </ul>
              </li>
            </ul>
          </nav>
          <!-- #nav-menu-container -->
        </div>
      </header>
      <!-- #header -->

<!-- Contact us modal -->
<div class="container">
  <!-- <h2>Modal Example</h2> -->
  <!-- Trigger the modal with a button -->
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
          <h4 class="modal-title">Contact Us</h4>
        </div>
        <div class="modal-body">
          <p>Thank you for visiting our website<br>Contact us on any one of the platforms bellow:<br></p>
          <pre>Yash Sharma(Creator)                      Ashutosh Verma</pre>
          <div class="social-links">
           <a href="https://www.instagram.com/yash_sharma7.2/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
           <a href="https://twitter.com/YashSharma_2o" target="_blank" class="google-plus"><i class="fa fa-twitter"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;             
           <a href="https://www.instagram.com/_ashu.verma_/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
           <a href="#" class="google-plus"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
 <!-- <div class="container">
  <h2>Modal Example</h2>
  
   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <!-- <div class="modal fade" id="myModallogin" role="dialog"> -->
    <!-- <div class="modal-dialog"> --> -->
    
      <!-- Modal content-->
       <!-- <div class="modal-content">
        <div class="modal-header"> 
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body"> 
          <div class="col-lg-4 offset-lg-3">
               <form>
                  <div class="form-row">
                      <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control" id="inputEmail4" [(ngModel)]="email" placeholder="Email" name="email">
                      </div>
                      <div class="form-group col-md-6">
                          <label for="inputPassword4">Password</label>
                          <input type="password" class="form-control" id="inputPassword4" [(ngModel)]="password" placeholder="Password" name="password">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-block" (click)="signIn()">Sign in</button>
              </form>
           </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div> -->

